@import 'contacto';
@import 'work';
@import 'partner';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body.home {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: black;
    .main {
        &__container {
            &--nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                .nav__logo {
                    img {
                        height: 50px;
                    }
                }
                .nav__menu {
                    svg {
                        height: 25px;
                    }
                }
            }
            &--content {
                margin-top: 200px;
                .content--title {
                    p {
                        color: white;
                        font-size: 30px;
                        font-weight: 300;
                        b {
                            font-weight: bold;
                        }
                    }
                }
                .content--btns {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    margin-top: 50px;
                    a {
                        color: white;
                        border: 1px solid white;
                        border-radius: 30px;
                        text-decoration: none;
                        width: 150px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .content--swiper {
                    .swiper {
                        &-wrapper {
                            display: flex;
                            align-items: center;
                            transition-timing-function: linear;
                            .swiper-slide {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

